services:
    app:
        build: .
        container_name: activity_planner_app
        restart: unless-stopped
        working_dir: /var/www
        volumes:
            - .:/var/www
#        depends_on:
#            - db
        networks:
            - laravel_network

#    db:
#        image: mysql:8.0
#        container_name: activity_planner_db
#        restart: unless-stopped
#        environment:
#            MYSQL_DATABASE: laravel
#            MYSQL_USER: user
#            MYSQL_PASSWORD: password
#            MYSQL_ROOT_PASSWORD: rootpassword
#        ports:
#            - "3306:3306"
#        networks:
#            - laravel_network

    nginx:
        image: nginx:latest
        container_name: activity_planner_nginx
        restart: unless-stopped
        volumes:
            - .:/var/www
            - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
#        ports:
#            - "80:80"
        depends_on:
            - app
        networks:
            - laravel_network
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.mfspace_nextjs.rule=Host(`workout.mfspace.info`)"
            - "traefik.http.routers.mfspace_nextjs.entrypoints=websecure"
            - "traefik.http.routers.mfspace_nextjs.tls.certresolver=myresolver"

networks:
    laravel_network:
        driver: bridge
    traefik_network:
        external: true
